@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1368px;
  margin-left: 1rem;
  margin-right: 1rem;
}

select {
  box-shadow: none !important;
  /* border-color: rgb(255, 204, 0) !important; */
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset !important;
  border-radius: 50px !important;
  text-align: center;
  font-weight: 600 !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(248, 162, 65);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 136, 0);
}


::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: #E49D1A;
}

::selection {
  color: #fff;
  background: #E49D1A;
}