.filter__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 850px;
    height: 60px;
    margin-top: -4rem;
    margin-left: 18rem;
    border-radius: 20px;
    background: rgb(66, 66, 61);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.search__box {

    width: 350px;
    height: 50px;
    margin-left: 25px;
}

.search__box_input {
    width: 350px;
    height: 50px;
    padding: 15px;
    font-weight: bold;
    border-radius: 20px;
    outline: none;
    border: none;
    text-transform: lowercase;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.dropdown {
    /* background: greenyellow ; */
    width: 150px;
    height: 50px;   
}
.dropdown__select {
    /* color: green; */
    font-weight: bold !important;
    width: 150px;
    height: 50px; 
    outline: none;
    border: none;
    cursor: pointer;
}
.search{
    background: rgb(0, 198, 40) ;
    width: 105px;
    height: 50px;
    margin-right: 25px;
    border-radius: 35px;
    font-weight: bold;
    cursor: pointer;
}


/* CSS */
.btn {

  align-items: center;
  appearance: none;
  background-color: rgb(228, 157, 26);
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.btn:focus {
  box-shadow: #48484a 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #353536 0 -3px 0 inset;
}

.btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #2d2d30 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}